
.Monitor {
    position: relative;
    max-width: fit-content;
    max-height: 600px;
    border: 3px solid blue;
    border-radius: 5%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    place-items: center; 
}

.Monitor:hover .RemoveButton {
    display: block;
}

.Setup {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.RemoveButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
    color: red;
    cursor: pointer;
    border: none;
    background: none;
}

.HelpTip {
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
